#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* added background color */
body {
  background-color: lightcyan;
}

/* align all titles */
div {
  text-align: center;
}

/* added box around label tags  */
.control-label {
  display: inline-block;
  width: 200px;
  text-align: center;
  border: solid black 1px;
  padding-left: 20px;
}

/* added box aroung all form elements */
.form-control {
  border: solid black 1px;
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

img {
  width: 500px;
  height: 300px;
}

.pinkify {
  background: red;
  color: yellow;
}

.poster {
  width: auto;
  height: auto;
}

textarea {
  width: 100%;
  min-height: 120px;
}

#show_notes {
  float: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}